@font-face {
    font-family: 'Friends';
    src: url('./font/BeautifulFriends.woff2') format('woff2'),
        url('./font/BeautifulFriends.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-style: italic;
    text-shadow: 2px 2px 3px #919191;
}
:root{
    --titles-font:'Friends';
    --titles-colors: #ba8d23;
    --titles-size: 55px;
    --desciription-color: #6a6a6a;
    --desciription-size: 19px;
}
.container {
    z-index: 1;
    max-width: 550px;
    margin: 0 auto;
    overflow: hidden;

}

/* Yuqoridagi rasm */
.header-image {
    width: 550px;
    height: 650px;
    background: url('./pexels-seyda-nur-yuce-70589496-19314463.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    z-index: -1;

}

.content {
    margin-top: 600px ;
    padding-top: 60px;
    z-index: 1;
    height: 100vh;
    box-shadow: 0 -40px 60px 50px #FFFDF8;
    background: #FFFDF8;
    transition: all 1s ease-out;
}

.first-txt{
    position: relative;
    height: 150px;
    font-family:var(--titles-font) ;
    font-size: var(--titles-size);
    user-select: none;
    color: var(--titles-colors);
}
.first-txt p{
    justify-self: center;
    align-self: center;
    padding: 10px;

}
.description{
    padding: 10px;
    margin: 10px 0;
    width: 100%;
}
.description p,.description-2 p{
    width: 90%; 
    margin: 0 auto;
    color: var(--desciription-color);
    font-size: var(--desciription-size);
}

.target-day p{
    width: 90%; 
    margin: 0 auto;
    padding: 10px;
    color: var(--titles-colors);
    font-size: 25px;
    
}


.content-2{
    height: 60dvh;
    
}
.profel{
    position: relative;
    left: 30%;
    top: 30%;
    transform: translate(-50%,-50%);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid var(--titles-colors);
    background: url("./pexels-seyda-nur-yuce-70589496-19314463.jpg");
    background-size: cover;
    box-shadow: 3px 3px 10px 1px rgb(135, 135, 135);
    opacity: 0;
    z-index: 1;

}
@keyframes img { 100%{opacity: 1; left: 50%;}}

.profel-animated{ animation: img 1.3s ease-in forwards;}
.name{
    position: relative;
    top: 20%;
    height: 120px;
    
}
.name p{
    justify-self: center;
    align-self: center;
    padding: 10px;
    font-family:var(--titles-font) ;
    font-size: var(--titles-size);
    user-select: none;
    color: var(--titles-colors);
    
}
.description-2{
    position: relative;
    top: 30%;
}

