@font-face {
    font-family: 'Friends';
    src: url('./font/BeautifulFriends.woff2') format('woff2'),
        url('./font/BeautifulFriends.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
   
    overflow-x: hidden;
    box-sizing: border-box;
    font-style: italic;
    text-shadow: 2px 2px 3px;
}


.container {
    z-index: 1;
    max-width: 550px;
    margin: 0 auto;
    overflow: hidden;

}

/* Yuqoridagi rasm */
.header-image {
    width: 550px;
    height: 650px;
    background: url('./pexels-seyda-nur-yuce-70589496-19314463.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    z-index: -1;

}


.content {
    margin-top: 600px ;
    padding-top: 60px;
    z-index: 1;
    height: 100vh;
    box-shadow: 0 -40px 60px 50px #FFFDF8;
    background: #FFFDF8;
    transition: all 1s ease-out;
}

.cover {
    position: absolute;
    display: block;
    width: inherit;
    height: inherit;
    background: #FFFDF8;
    

}

.greating-sections {
    margin: 0 auto;
}

.greating,
.greating2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   
   font-family: 'Friends', Arial, sans-serif;
}
.greating{
    height: 200px;
}
.greating2 {
    margin-block-end: 100px;
    height: 90px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
  
}


.txt_aninamtion_1 {
    animation: txt1 3.5s ease-out forwards;
}

@keyframes txt1 {
    0% {
        left: 0;
    }

    100% {
        left: 1000px;
    }
}

.great-1{
    
    padding: 15px;
    font-size: 66px;
   
}
.great-2 {
    border: 1px solid;
    font-size: 18px;
   
    
}


.names {
    position: relative;
    margin-top: 150px;
    
    width: 300px;
    margin: 0 auto;
    height: 240px;
   

}
 ::-webkit-scrollbar{
        display: none;
    }
.names .name1 {
    top: 2px;
    position: absolute;
    z-index: 1;
    font-size: 40px;
    padding: 0 10px;

}

.names .name2 {
    position: absolute;
    bottom: 2px;
    padding: 0 10px;
    font-size: 40px;
    right: 0;
    
}

.names span,
.name2 span {
    font-size: 70px;
}


.content-2 {
    height: 100vh;
    z-index: 1;
    background: red;

}

.set {
    background: #CFB055;
}