@font-face {
    font-family: 'Beautiful Friends';
    src: url('BeautifulFriends.woff2') format('woff2'),
        url('BeautifulFriends.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

